[user]
	email = wojciech.gumula@gmail.com
	name = Wojtek Gumula
	signingkey = 7A4ECB475C781C92
[grep]
	lineNumber = true
[alias]
  g = grep --break --heading --line-number
	st = status -sb
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s\n %C(bold blue)<%an>%Cgreen(%cr)%Creset' --abbrev-commit
	ta = log --graph --oneline --decorate --all
	pa = pull
	co = checkout

[credential]
	helper = cache --timeout=999999
[core]
	editor = nvim
[pager]
	diff = ~/git/diff-so-fancy/diff-so-fancy | less --tabs=1,5 -RFX
	show = ~/git/diff-so-fancy/diff-so-fancy | less --tabs=1,5 -RFX
